
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: #205638;
            overflow-x: hidden;
        }
    </style>

</head>
<body>
    <div class="container-fluid " style="margin:0!important; padding:0!important">
        <header>
            @Html.Partial("_Nav")
        </header>

        <div class="mx-0 px-0">
            @RenderBody()
        </div>
    </div>
</body>
</html>
